@media (max-width: 1335px)
  .container
    max-width: 1000px
  .logo
    flex-basis: 20%
  .mainscreen
    max-width: 1100px
@media (max-width: 1200px)
  .container
    max-width: 900px
  .logo
    flex-basis: 20%
  .mainscreen
    max-width: 950px
@media (max-width: 992px)
  .container
    max-width: 650px
  .logo
    flex-basis: 20%
  .mainscreen
    max-width: 728px
@media (max-width: 767px)
  .container
    max-width: 650px
    width: 88%
  body
    padding-top: 78px
@media (max-width: 567px)
  .container
    max-width: 500px

@media (max-width: 320px)
  .container
    max-width: 280px
