@media (max-width: 1335px)
  .container
    max-width: 1000px
  .logo
    flex-basis: 20%
  .mainscreen
    max-width: 1100px
  .new
    &-green
      margin-right: 20px
    &-image
      margin-right: 30px
    &-title
      font-size: 36px
    &-text
      width: 200px
      font-size: 18px
      line-height: 30px
      margin-bottom: 20px
    &-look
      &__link
        margin-right: 8px
    &-article
      min-width: 252px
  .trends
    &-card
      &--none
        display: block
  .reviews
    &-slider
      &__item
        &::before
          left: 450px
  .history
    &-info
      min-width: 300px
      margin-right: 11px
      &__button
        &-next
          bottom: 11px
          left: 68px
        &-prev
          bottom: 11px
          left: -7px
    &-title
      margin-bottom: 10px
    &-image
      &__slide
        &--one
          margin-right: 10px
      &__slogan
        &-mix
          top: 297px
          right: 362px
        &-life
          top: 297px
          right: 24px
  .footer
    &-wrapper
      max-width: 800px
    &-social
      margin-right: 0
      flex-basis: 56%
    &-service
      margin-right: 0
      margin-bottom: 50px
    &-nav
      margin-bottom: 50px
    &-company
      flex-basis: 74%
      align-items: flex-end
    &-title
      &__company
        margin-right: 53px
@media (max-width: 1200px)
  .container
    max-width: 900px
  .logo
    flex-basis: 20%
  .mainscreen
    max-width: 950px
  .new
    &-green
      margin-right: 20px
    &-image
      margin-right: 20px
    &-title
      font-size: 36px
    &-text
      width: 200px
      font-size: 18px
      line-height: 30px
      margin-bottom: 20px
    &-look
      &__link
        margin-right: 8px
  .reviews
    &-slider
      &__item
        &::before
          left: 403px
  .history
    &-image
      &__slogan
        &-mix
          max-width: 280px
          top: 297px
          right: 294px
        &-life
          max-width: 280px
          top: 297px
          left: 314px
      &__text
        font-size: 21px
      &__slide
        &--one
          max-width: 290px
        &--two
          max-width: 290px
  .newsletter
    &-wrapper
      max-width: 900px
    &-text
      margin-right: 20px
@media (max-width: 992px)
  .container
    max-width: 650px
  .logo
    flex-basis: 20%
  .mainscreen
    max-width: 750px
    svg path
      fill: rgba(21, 101, 216, 1)
      stroke: inherit
      stroke-width: inherit
      &__icon
      &:hover
        fill: rgba(21, 101, 216, 1)
    &-wrapper
      padding: 30px 0 30px 30px
    &__button-choise
      &::after, &::before
        display: none
  .navbar
    &-top
      padding-bottom: 31px
      &__menu
        &-button
          &--max
            transition: none
          &::after, &::before
            display: none
          &:hover
            color: rgba(21, 101, 216, 1)
    &-menu
      &__link
        transition: none
        &::after, &::before
          display: none
        &:hover
          color: #183B56
    &__links
      width: 420px
    &-menu
      margin-right: 30px
    &-menu
      &__link
        font-weight: 600
        font-size: 14px
  .modal
    &__dialog
      width: 375px
      padding: 19px 60px 33px 60px
  .new
    padding: 0px 0px 80px 0px
    &-article
      min-height: 100%
      display: flex
      justify-content: space-between
      align-items: start
      flex-direction: column
    &-title
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
    &-text
      min-width: 100%
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 36px
      color: #5A7184
    &-image
      margin-bottom: 20px
    &-look
      &__link
        transition: none
        &::after, &::before
          display: none
        &:hover
          color: #1565D8
  .container
    &-new
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: column
  .trends
    &-card
      padding-left: 20px
      flex-basis: 50%
      &--none
        display: none
    svg path
      fill: rgba(21, 101, 216, 1)
      stroke: inherit
      stroke-width: inherit
      &__icon
      &:hover
        fill: #1565D8
  .trends
    &__wrapper
      &-tabs
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
    &-image
      width: 280px
      height: 350px
      overflow: hidden
      object-fit: cover
      border-radius: 8px
    &-img
      width: 280px
      height: 350px
      overflow: hidden
      object-fit: cover
    &-basket
      flex-basis: 23%
    &-link
      transition: none
      &::after, &::before
        display: none
      &:hover
        color: #183B56
  .reviews
    &-slider
      &__item
        &::before
          left: 279px
  .history
    &-wrapper
      margin: auto
      max-width: 680px
      height: 500px
      display: inline-block
      padding-top: 79px
    &-slider
      margin: auto
    &-slogan
      right: 4px
      top: 298px
    &-image
      &__link
        padding: 0px 40px 20px 22px
        transition: none
        &::after, &::before
          display: none
        &:hover
          color: #1565D8
    &-info
      max-width: 680px
      height: 331px
      align-items: center
      margin: 0
      &__button
        &-prev
          bottom: 31px
          left: 249px
        &-next
          bottom: 31px
          left: 346px
    &-button
      margin-left: 0px
      margin-bottom: 24px
    &-title
      margin-bottom: 17px
      margin-left: 0px
    &-text
      padding: 0 60px 0 60px
      text-align: center
    &-foto
      width: 322px
    &-image
      &__slide
        &--one
          max-width: 317px
          margin-right: 30px
        &--two
          max-width: 317px
      &__slogan
        &-mix
          right: 353px
        &-life
          left: 395px
  .newsletter
    padding: 72px 0 78px 0
    background-image: url(../img/newsletter-bgm.svg)
    &-wrapper
      max-width: 650px
      flex-direction: column
    &-text
      margin-right: 0
      margin-bottom: 56px
      align-items: center
    &-slogan
      text-align: center
  .subscribe
    &__button
      transition: none
      &::after, &::before
        display: none
      &:hover
        color: #FFFFFF
  .footer
    svg path
      fill: #5A7184
      stroke: inherit
      stroke-width: inherit
      &-google
      &:hover
        fill: #5A7184
    svg rect
      fill: #5A7184
      stroke: inherit
      stroke-width: inherit
      &-google
      &:hover
        fill: #5A7184
    &__link
      transition: none
      &::after, &::before
        display: none
      &:hover
        color: #183B56
  .footer
    &-social
      margin-right: 0
      flex-basis: 47%
    &-service
      margin-right: 0
      margin-bottom: 50px
    &-nav
      margin-bottom: 50px
    &-company
      flex-basis: 69%
      align-items: flex-end
    &-title
      &__company
        margin-right: 53px
@media (max-width: 768px)
  body
    padding-top: 105px
    .to-top
      position: fixed
      bottom: 50px
      right: 4px
      z-index: 2000
      width: 50px
      height: 50px
  .container
    max-width: 650px
  .navbar
    &-top
      &__mobile
        width: 100%
        background-color: #FFFFFF
        display: block
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
  .navbar
    &-top
      &__menu-line
        &--invisible
          display: none
  .navbar
    overflow-y: auto
    &-menu
      display: none
      position: fixed
      left: 20px
      right: -10px
      bottom: 0
      top: 9px
      background-color: #FFFFFF
      z-index: 99
      border: 1px solid #c4c1c1
      box-shadow: 0 0 10px #c4c1c1
      &--visible
        display: block
        max-height: 60%
        overflow-y: auto
      &__link
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        text-align: center
        color: #183B56
    &__mobile
      display: block
      top: 0
      right: 0
      left: 0
      z-index: 99
    &__username
      display: none
      &--mobile
        display: block
        margin-bottom: 20px
    &__links
      margin: 0
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: column
      align-items: center
    &__list
      padding: 0
      margin: 0
      align-items: center
      flex-direction: column
      margin-top: 40px
    &__item
      margin-bottom: 20px
    &-top
      padding-top: 26px
      padding-bottom: 46px
      padding-left: 57px
      padding-right: 57px
      &__menu
        &-line
        &-button
          &--mobile
            padding: 13px 125px 12px 125px
            border: 2px solid #1565D8
            border-radius: 8px
            background-color: #FFFFFF
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 22px
            background-color: #FFFFFF
            color: rgba(21, 101, 216, 1)
            outline: none
            cursor: pointer
          &--mini
            position: absolute
            top: 29px
            right: 63px
            z-index: 100
            display: flex
            width: 16px
            height: 14px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #FFFFFF
            cursor: pointer
  .menu
    &-btn
      &--close
        background-image: url(../img/close-icon.png)
        margin-top: 4px
        background-size: cover
        z-index: 100
  .mainscreen
    max-width: 724px
    margin: auto
    background-image: url(../img/header-image2.webp)
    position: relative
    padding: 0px 0 0px 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 8px
    overflow-y: auto
    &-wrapper
      padding: 35px 0 36px 29px
    &__button-label
      margin-bottom: 24px
    &-title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      margin-bottom: 20px
    &-text
      max-width: 401px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
    &-info
      margin-bottom: 40px
    &-conditions
      max-width: 443px
    &-payment
      margin-right: 18px
  .modal
    &__dialog
      width: 375px
      padding: 19px 60px 33px 60px
  .navbar
    padding-bottom: 80px
  .new
    padding: 0px 0px 80px 0px
    &-image
      margin: auto
      margin-bottom: 36px
    &-green
      margin-right: 28px
    &-article
      min-width: 672px
      justify-content: flex-start
    &-title
      margin-bottom: 24px
    &-text
      margin-bottom: 25px
    &-look
      &__link
        margin-right: 15px
  .container
    &-new
      max-width: 672px
  .trends
    padding: 0px 0px 20px 0px
    &-shop
      margin-top: 8px
    &__wrapper
      &-tabs
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        margin-bottom: 36px
    &-image
      width: 280px
      height: 350px
      border-radius: 8px
      margin-bottom: 17px
      &__see
        right: 29px
    &-plus
      top: 123px
      right: 121px
    &-img
      width: 100%
      height: 100%
      overflow: hidden
      object-fit: cover
      &__luxstyle
        width: 123%
        height: 122%
        overflow: hidden
        object-fit: cover
      &__pinkystyle
        width: 99%
        height: 126%
        overflow: hidden
        object-fit: cover
      &__holystyle
        width: 98%
        overflow: hidden
        object-fit: cover
      &__swstyle
        width: 110%
        height: 133%
        overflow: hidden
        object-fit: cover
      &__redstyle
        width: 103%
        height: 128%
        overflow: hidden
        object-fit: cover
      &__fullstyle
        width: 100%
        height: 114%
        overflow: hidden
        object-fit: cover
    &-basket
      flex-basis: 19%
    &-title
      margin-bottom: 10px
  .tabs
    &__item
      padding: 16px 23px 20px 20px
      &--active
        padding: 16px 17px 20px 20px
  &-reviews
    max-width: 630px
  .reviews
    &-slider
      &__item
        margin-bottom: 22px
        &::before
          left: 283px
      &__text
        height: 210px
        overflow-y: auto
    &-user
      margin: auto
      max-width: 600px
      margin-bottom: 28px
  .container
    &-history
      max-width: 728px
      margin-left: 41px
      padding-bottom: 76px
  .history
    &-wrapper
      margin: auto
      max-width: 680px
      height: 500px
      display: inline-block
      padding-top: 79px
    &-slider
      margin: auto
    &-slogan
      right: 4px
      top: 298px
      &__link
        padding: 0px 40px 20px 22px
        transition: none
        &::after, &::before
          display: none
        &:hover
          color: #1565D8
    &-info
      max-width: 680px
      height: 331px
      align-items: center
      margin: 0
      &__button
        &-prev
          bottom: 31px
          left: 269px
        &-next
          bottom: 31px
          left: 346px
    &-button
      margin-left: 0px
      margin-bottom: 24px
    &-title
      margin-bottom: 17px
      margin-left: 0px
    &-text
      padding: 0 60px 0 60px
      text-align: center
    &-foto
      width: 322px
    &-image
      &__slide
        &--one
          max-width: 323px
          margin-right: 27px
        &--two
          max-width: 323px
      &__text
        font-size: 22px
      &__slogan
        &-mix
          max-width: 322px
          right: 355px
        &-life
          max-width: 322px
          left: 364px
  .line
    max-width: 728px
  .footer
    padding-top: 63px
    &-wrapper
      max-width: 800px
    &-social
      margin-right: 0
      flex-basis: 43.5%
    &-service
      margin-right: 0
      margin-bottom: 25px
    &-nav
      margin-bottom: 25px
    &-company
      flex-basis: 66.5%
      align-items: flex-end
      margin-right: 44px
    &-title
      &__company
        margin-right: 53px

@media (max-width: 767px)
  .container
    &-history
      margin: auto
      max-width: 650px
  .history
    &-wrapper
      margin: auto
      max-width: 650px
      height: 500px
      display: inline-block
      padding-top: 79px
    &-slider
      margin: auto
    &-slogan
      border: 2px solid red
      right: -13px
      top: 298px
      &__link
        padding: 0px 40px 20px 22px
        transition: none
        &::after, &::before
          display: none
        &:hover
          color: #1565D8
    &-info
      max-width: 680px
      height: 331px
      align-items: center
      margin: 0
      &__button
        &-prev
          bottom: 31px
          left: 210px
        &-next
          bottom: 31px
          left: 346px
    &-button
      margin-left: 0px
      margin-bottom: 24px
    &-title
      margin-bottom: 17px
      margin-left: 0px
    &-text
      padding: 0 60px 0 60px
      text-align: center
    &-foto
      width: 322px
    &-image
      &__slide
        &--one
          max-width: 300px
          margin-right: 20px
        &--two
          max-width: 300px
      &__text
        font-size: 20px
      &__slogan
        &-mix
          max-width: 270px
          right: 342px
        &-life
          max-width: 270px
          left: 364px
@media (max-width: 700px)
  .container
    max-width: 500px
  .mainscreen
    &-wrapper
      padding: 35px 0 36px 29px
    &__button-label
      margin-bottom: 24px
    &-title
      font-style: normal
      font-weight: bold
      font-size: 44px
      letter-spacing: 0.2px
      margin-bottom: 20px
    &-text
      max-width: 401px
      font-style: normal
      font-weight: normal
      font-size: 16px
      margin-bottom: 36px
  .new
    padding: 0px 0px 104px 0px
    &-image
      margin: auto
      margin-bottom: 36px
    &-green
      max-width: 250px
      margin-right: 10px
      object-fit: cover
    &__green
      &-image
        width: 100%
        object-fit: cover
    &-furniture
      &__chair
        max-width: 250px
        object-fit: cover
        margin-bottom: 20px
      &__tree
        max-width: 250px
        object-fit: cover
    &__chair
      width: 100%
      object-fit: cover
    &__tree
      width: 100%
      object-fit: cover
    &-article
      min-width: 450px
      justify-content: space-between
      align-items: center
    &-title
      font-style: normal
      font-weight: bold
      font-size: 40px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 24px
    &-text
      font-weight: normal
      font-size: 20px
      line-height: 28px
      text-align: center
      margin-bottom: 25px
    &-look
      &__link
        margin-right: 15px
  .container
    &-new
      max-width: 600px
  .trends
    &-image
      width: 220px
      height: 350px
      overflow: hidden
      object-fit: cover
      border-radius: 8px
    &-img
      width: 220px
      height: 350px
      overflow: hidden
      object-fit: cover
    &-title
      margin-bottom: 10px
  .reviews
    &-slider
      &__item
        &::before
          left: 212px
  .container
    &-history
      max-width: 500px
  .history
    &-slider
      max-width: 500px
    &-wrapper
      max-width: 500px
    &-image
      &__slide
        &--one
          max-width: 230px
          margin-right: 20px
        &--two
          max-width: 230px
      &__text
        font-size: 16px
      &__slogan
        &-mix
          max-width: 230px
          right: 256px
        &-life
          max-width: 230px
          left: 269px
    &-foto
      width: 100%
    &-title
      font-size: 30px
    &-info
      &__button
        &-prev
          bottom: 17px
          left: 145px
        &-next
          bottom: 17px
          left: 262px
  .footer
    padding-top: 63px
    &-wrapper
      max-width: 500px
    &-social
      margin-right: 0
      flex-basis: 100%
      order: 5
      align-items: center
    &-service
      margin-right: 0
      margin-bottom: 30px
    &-nav
      margin-bottom: 30px
      margin-right: 0
      flex-basis: 70%
    &-company
      flex-basis: 70%
      align-items: flex-start
      margin-right: 0
    &-title
      &__company
        margin-right: 0
@media (max-width: 567px)
  .container
    max-width: 450px
  .mainscreen
    max-width: 711px
    margin: auto
    background-image: url(../img/header-image2.webp)
    position: relative
    padding: 0px 0 0px 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 8px
    &-wrapper
      padding: 35px 0 36px 29px
    &__button-label
      margin-bottom: 24px
    &-title
      font-style: normal
      font-weight: bold
      font-size: 36px
      letter-spacing: 0.2px
      margin-bottom: 20px
    &-text
      max-width: 401px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
    &-info
      margin-bottom: 40px
    &-conditions
      max-width: 443px
  .navbar
    &__list

    &-top
      padding-top: 26px
      &__menu-button
        &--mobile

          padding: 9px 101px 9px 101px
  .new
    &-image
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      margin-bottom: 36px
    &-furniture
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: baseline
    &-green
      max-width: 320px
      object-fit: cover
      margin-right: 0
      margin-bottom: 14px
    &__green
      &-image
        width: 100%
        object-fit: cover
    &-furniture
      &__chair
        max-width: 200px
        object-fit: cover
        margin-bottom: 0
        margin-right: 14px
      &__tree
        max-width: 200px
        object-fit: cover
        margin-bottom: 0
    &__chair
      width: 100%
      object-fit: cover
    &__tree
      width: 100%
      object-fit: cover
    &-article
    &-title
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      color: #183B56
    &-text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      color: #5A7184
    &-look
  .trends
    &-image
      width: 180px
      height: 200px
      overflow: hidden
      object-fit: cover
      border-radius: 8px
      &__see
        font-style: normal
        font-weight: bold
        font-size: 17px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        color: #FAFAFB
        top: 95px
        right: 42px
        width: 100px
    &-plus
      top: 63px
      right: 78px
    &-img
      width: 100%
      height: 122%
      overflow: hidden
      object-fit: cover
    &-link
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
    &-price
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
    &-basket
      flex-basis: 33%
    &__basket
      &-icon
        max-width: 16px
      &-plus
        max-width: 25px
  .reviews
    padding: 0 0 48px 0
    &-slider
      &__item
        &::before
          left: 179px
  .history
    &-image
      display: flex
      justify-content: space-beetwen
      align-items: center
      flex-direction: column
  .container
    &-history
      max-width: 280px
  .history
    &-slider
      max-width: 280px
    &-wrapper
      padding-top: 47px
      max-width: 280px
    &-foto
      width: 100%
      height: 277px
    &-image
      &__slide
        height: 434px
        &--one
          max-width: 270px
          margin-right: 7px
        &--two
          max-width: 270px
          margin-right: 7px
      &__text
        padding: 21px 0 5px 19px
        font-weight: 500
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
        margin-bottom: 11px
      &__link
        padding: 0 40px 20px 19px
      &__slogan
        &-mix
          top: 256px
          max-width: 270px
          right: -1px
          z-index: 1000
        &-life
          top: 687px
          max-width: 270px
          left: 290px
          z-index: 1000
    &-button
      padding: 2px 12px 2px 12px
      margin-bottom: 24px
    &-title
      display: none
      &-mini
        display: block
        margin-bottom: 17px
    &-text
      padding: 0 0px 0 0px
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
    &-info
      min-width: 280px
      height: 294px
      &__button
        &-prev
          bottom: 17px
          left: 73px
        &-next
          bottom: 17px
          left: 138px
        &-icon
          width: 48px
          height: 48px
  .newsletter
    padding: 72px 0 122px 0
    &-wrapper
      max-width: 450px
      flex-direction: column
    &-text
      margin-right: 0
      margin-bottom: 56px
      align-items: center
    &-slogan
      max-width: 72%
      text-align: center
  .subscribe
    max-width: 300px
    &__input
      padding-right: 20px
    &__button
      min-width: 300px
      max-width: 300px
      padding: 7px 20px 9px 20px
      right: 2px
      top: 66px
    #emailNews-error
      position: absolute
      color: #FFFFFF
      font-size: 14px
      font-weight: bold
      text-align: center
      padding: 0px 24px 0 24px
      top: -41px
  .footer
    padding-top: 63px
    &-wrapper
      max-width: 300px
    &-social
      margin-right: 0
      flex-basis: 100%
      order: 5
      align-items: center
    &-service
      margin-right: 0
      margin-bottom: 30px
    &-nav
      margin-bottom: 30px
      margin-right: 0
      flex-basis: 70%
    &-company
      flex-basis: 85%
      align-items: flex-start
      margin-right: 0
    &-contacts
      margin-bottom: 67px
    &-title
      &__company
        margin-right: 0
@media (max-width: 480px)
  .container
    max-width: 300px
  .navbar
    &-top
      padding: 26px 20px 26px 32px
    &__links
      width: 100%
  .mainscreen
    max-width: 500px
    height: 100%
    margin: auto
    background-image: url(../img/header-image2.webp)
    position: relative
    padding: 0px 0 0px 0
    background-position: right
    background-repeat: no-repeat
    background-size: cover
    border-radius: 8px
    &-wrapper
      padding: 378px 0 51px 6px
    &__button-label
      position: absolute
      top: 197px
      right: 88px
      margin-bottom: 24px
    &-title
      position: absolute
      top: 236px
      font-weight: bold
      font-size: 32px
      line-height: 40px
      text-align: center
      letter-spacing: 0.2px
    &-text
      max-width: 401px
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      padding: 0 10px 0 10px
    &-info
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      margin-bottom: 40px
    &-conditions
      max-width: 320px
      margin: auto
      flex-direction: column
      flex-wrap: wrap
      align-items: center
  .navbar
    padding-bottom: 65px
    &__list

    &-top
      &__menu-button
        &--mobile
          padding: 9px 101px 9px 101px
    &-menu
      left: 6px
      right: -26px
      bottom: 0
      top: 9px
      &--visible
        max-height: 60%
  .modal
    &__dialog
      width: 320px
      padding: 19px 50px 33px 50px
  .new
    padding: 0px 0px 107px 0px
    &-article
      min-width: 280px
  .container
    &-trends
      max-width: 300px
  .trends
    &-image
      width: 140px
      height: 170px
      overflow: hidden
      object-fit: cover
      border-radius: 8px
      margin-bottom: 12px
      margin-left: 2px
      &__see
        font-style: normal
        font-weight: bold
        font-size: 17px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        color: #FAFAFB
        top: 87px
        right: 16px
        width: 100px
    &-plus
      top: 44px
      right: 56px
    &-img
      width: 140px
      height: 119%
      overflow: hidden
      object-fit: cover
      border-radius: 8px
    &-shop
      margin-top: 1px
      margin-left: 6px
    &-basket
      flex-basis: 70%
    &__basket
      &-svg
        width: 16px
        height: 16px
    &-link
      margin-left: 4px
    &-card
      padding: 0
      margin-bottom: 26px
    &-title
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
    &__wrapper
      &-tabs
        margin-bottom: 18px
  .tabs
    &__item
      padding: 16px 17px 20px 1px
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      &--active
        padding: 16px 17px 20px 20px
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
  .reviews
    &-slider
      &__item
        &::before
          left: 101px
  .newsletter
    background-image: url(../img/newsletter-bgs.svg)
    padding: 65px 0 124px 0
    &-wrapper
      max-width: 450px
      flex-direction: column
    &-text
      margin-right: 0
      margin-bottom: 36px
      align-items: center
    &-title
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 22px
    &-slogan
      max-width: 87%
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      color: #FAFAFB
  .subscribe
    max-width: 280px
    height: 47px
    &__input
      padding-right: 20px
    &__button
      min-width: 280px
      max-width: 280px
      padding: 8px 18px 7px 20px
      right: 2px
      top: 58px
      height: 49px
    #emailNews-error
      position: absolute
      color: #cac7c7
      font-size: 10px
      font-weight: bold
      text-align: center
      padding: 0px 24px 0 24px
      top: -27px
  .footer
    padding-top: 49px
    &-wrapper
    &-title
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      margin-bottom: 18px
    &__link
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
    &__item
      margin-bottom: 13px
    &-nav
      margin-bottom: 17px
    &-service
      margin-bottom: 17px
    &-company
      margin-bottom: 17px
    &-contacts
      margin-bottom: 52px
    &-logo
      margin-left: 11px
      margin-bottom: 11px
    &-slogan
      text-align: center
      margin-bottom: 22px
    &-text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      text-align: center
    &-social
      &__links
        margin-left: 15px
  .container
    &-footer
      max-width: 250px
@media (max-width: 320px)
  body
    padding-top: 90px
  .container
    max-width: 280px
  .mainscreen
    position: relative
    max-width: 320px
    height: 100%
    margin: auto
    background-image: url(../img/header-image3.webp)
    position: relative
    padding: 0px 0 0px 0
    background-position: top
    background-repeat: no-repeat
    background-size: cover
    border-radius: 8px
    &-wrapper
      padding: 563px 0 27px 6px
    &__button-label
      position: absolute
      top: 375px
      right: 73px
    &-title
      position: absolute
      top: 422px
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      letter-spacing: 0.2px
      text-align: center
    &-text
      padding: 0 10px 0 10px
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      margin-bottom: 26px
      text-align: center
      max-width: 280px
    &-info
      margin-bottom: 13px
    &-conditions
      max-width: 300px
      align-items: center
      &__mini
        min-width: 272px
        margin-bottom: 3px
    &-paytext, &-qualtext, &-guartext
      font-family: 'HK Grotesk'
      font-feature-settings: "locl" 0
      font-weight: 500
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
      color: #183B56
    &-payment
      margin-right: 0
    &-payment-icon, &-guarantee-icon, &-quality-icon
      width: 25px
    &__button-choise
      padding: 13px 49px 13px 49px
      background: #183b56
      border-radius: 8px
      border: none
      outline: none
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
    &-choise
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
  .navbar
    padding-bottom: 65px
    &-top
      padding: 18px 0 39px 25px
      &__menu-button
        &--mini
          top: 21px
          right: 29px
        &--mobile
          margin-left: 0px

          padding: 9px 98px 7px 101px
    &__links
      width: 100%
      display: flex
      justify-content: space-between
      align-items: start
    &-menu
      display: none
      position: fixed
      left: 8px
      right: -26px
      bottom: 0
      top: 9px
      background-color: #FFFFFF
      z-index: 99
      border: 1px solid #c4c1c1
      box-shadow: 0 0 10px #c4c1c1
      &--visible
        display: block
        height: 325px
        overflow-y: auto
      &__link
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
    &__list
      margin-left: 24px
      margin-top: 35px
      align-items: start
    &__username
      &--mobile
        margin-left: 22px

  .modal
    &__dialog
      width: 280px
      padding: 19px 40px 33px 40px
  .new
    &-look
      display: none
    &-image
      width: 283px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      margin-bottom: 37px
    &-furniture
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: baseline
    &-green
      max-width: 290px
      max-height: 300px
      margin-right: 0
      margin-bottom: 14px
      overflow: hidden
      object-fit: cover
    &__green
      &-image
        width: 290px
        height: 300px
        object-fit: cover
        overflow: hidden
    &-furniture
      &__chair
        width: 139px
        height: 97px
        object-fit: cover
        margin-bottom: 0
        margin-right: 14px
      &__tree
        width: 139px
        height: 97px
        object-fit: cover
        margin-bottom: 0
    &__chair
      width: 100%
      height: 100%
      object-fit: cover
    &__tree
      width: 100%
      height: 100%
      object-fit: cover
    &-title
      margin-bottom: 19px
    &-text
      margin-bottom: 0
  .container
    &-new
      width: 290px
  .container
    &-trends
      max-width: 300px
  .trends
    padding: 0px 0px 12px 0px
    &-image
      width: 140px
      height: 170px
      overflow: hidden
      object-fit: cover
      border-radius: 8px
      margin-bottom: 12px
      margin-left: 2px
      &__see
        top: 84px
    &-plus
      top: 41px
    &-img
      width: 100%
      height: 100%
      overflow: hidden
      object-fit: cover
      &__mstyle
        width: 105%
        height: 105%
        overflow: hidden
        object-fit: cover
      &__luxstyle
        width: 114%
        height: 112%
        overflow: hidden
        object-fit: cover
      &__pinkystyle
        width: 107%
        height: 120%
        overflow: hidden
        object-fit: cover
      &__holystyle
        width: 102%
        height: 106%
        overflow: hidden
        object-fit: cover
      &__swstyle
        width: 102%
        height: 107%
        overflow: hidden
        object-fit: cover
      &__redstyle
        width: 99%
        height: 104%
        overflow: hidden
        object-fit: cover
      &__fullstyle
        width: 100%
        height: 114%
        overflow: hidden
        object-fit: cover
    &__wrapper
      &-tabs
        margin-bottom: 16px
    &-shop
      margin-top: 5px
    &__basket
      &-svg
        width: 16px
        height: 16px
  .reviews
    &-slider
      &__item
        margin-top: 88px
        margin-bottom: 14px
        &::before
          top: -83px
          left: 103px
          width: 70px
          height: 81px
          background-image: url(../img/quote-left-sm.svg)
          background-repeat: no-repeat
      &__text
        height: 360px
        overflow: auto
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 36px
        text-align: center
        letter-spacing: 0.12px
      &__username
        padding: 0 40px 0 40px
  .container
    &-history
      padding-bottom: 33px
  .container
    &-footer
      max-width: 250px
