.mainscreen
  margin: auto
  width: 1280px
  background-image: url(../img/header-image.png)
  position: relative
  padding: 349px 0 349px 0
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  &__label
    text-decoration: none
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #36B37E
  &-button
    background: rgba(54, 179, 126, 0.1)
    border-radius: 2000px
    border: none
    outline: none
